/* Media Query Updates for middle widths */

@media screen and (min-width: 640px) {
    nav ul {
      flex-direction: row;
    }
  }  
#navbar{
  display: none;
}
#manu-open{
  display: none;
}
#manu-close{
  display: inline;
}
#navbar.manu-active{
  display: flex;
}
#manu-open.manu-active{
  display: inline;
}
#manu-close.manu-active{
  display: none;
}